@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
	--darkGrey: hsl(0, 0%, 25%);
}

body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

* {
	font-family: 'Share Tech Mono', sans-serif;
}

.pwd-section {
	max-width: 355px;
	gap: 60px;
	display: flex;
	flex-direction: column;
	margin-inline: auto;
	margin-top: 10vh;
}

.title {
	font-weight: bold;
	font-size: 30px;
	display: flex;
	justify-content: center;
}

.pwd-output {
	background-color: var(--darkGrey);
	color: white;
	border-radius: 6px;
	min-width: 245px;
	height: 36px;
	font-size: 13px;
	margin: auto;
	display: flex;
}

.pwd-output > output {
	margin: auto;
}

.pwd-opt {
	display: flex;
}

.pwd-copy {
	border: 1px solid var(--darkGrey);
	border-radius: 6px;
	height: 40px;
	margin-top: 1vh;
	width: fit-content;
	padding: 0 1rem;
	font-weight: bold;
	cursor: pointer;
	transition: .2s ease;

}
.pwd-copy:hover {
	color: white;
	background-color: hsl(0, 0%, 65%);
}

.refresh-icon {
	height: 40px;
	width: 40px;
	margin-left: auto;
	margin-top: 1vh;
}

.refresh-icon > img {
	height: 100%;
	width: 100%;
}

.length {
	display: flex;
	flex-direction: column;
	min-width: 245px;
	max-width: 90%;
	margin: auto;
	gap: 16px;
}

.length-input-range {
	-webkit-appearance: none;
	background-color: lightgrey;
	border: 0;
	border-radius: 6px;
	height: 8px;
	accent-color: var(--darkGrey);
	background-image: linear-gradient(var(--darkGrey),  var(--darkGrey));
	background-size: 25% 100%;
	background-repeat: no-repeat;
}

/* cursor for input range */
.length-input-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: hsl(0, 0%, 25%);
	cursor: ew-resize;
}

.options {
	display: flex;
	flex-direction: column;
	min-width: 245px;
	max-width: 90%;
	margin: auto;
}

.option-wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.option-wrapper > .checkbox {
	-webkit-appearance: none;
	height: 24px;
	width: 24px;
	border: 1px solid var(--darkGrey);
	accent-color: var(--darkGrey);
	border-radius: 6px;
	margin: 0;
}

.option-wrapper > label {
	padding-left: 1rem;
}

.checkbox:checked {
	-webkit-appearance: checkbox;
}

footer {
	margin-top: auto;
	background-color: var(--darkGrey);
}

.footer-text {
	color: white;
	padding: 2rem;
	text-align: center;
	margin-top: auto;
}


